<h1 class="title--center">Editing Product</h1>

<div class="form--center">
    <%= render 'form', product: @product %>
</div>


<div class="links--center">
    <%= link_to 'Show', @product %> |
    <%= link_to 'Back', products_path %>
</div>

